# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Tentang Alat Pengembang
enable-title = Aktifkan Alat Pengembang Firefox
enable-inspect-element-title = Aktifkan Alat Pengembang Firefox untuk menggunakan Inspeksi Elemen
enable-inspect-element-message = Periksa dan edit HTML dan CSS dengan Inspektur Alat Pengembang.
enable-about-debugging-message = Mengembangkan dan men-debug WebExtensions, web worker, service worker, dan lainnya dengan Alat Pengembang Firefox.
enable-key-shortcut-message = Anda telah mengaktifkan pintasan Alat Pengembang. Jika itu tidak disengaja, Anda dapat menutup Tab ini.
enable-menu-message = Sempurnakan HTML, CSS, dan JavaScript situs web Anda dengan alat-alat seperti Inspektur dan Debugger.
enable-common-message = Alat Pengembang Firefox dinonaktifkan secara baku untuk memberikan Anda lebih banyak kendali atas peramban Anda.
enable-learn-more-link = Pelajari lebih lanjut tentang Alat Pengembang
enable-enable-button = Aktifkan Alat Pengembang
enable-close-button = Tutup Tab Ini
welcome-title = Selamat Datang di Alat Pengembang Firefox!
newsletter-title = Nawala Pengembang Mozilla
newsletter-message = Dapatkan berita, trik, dan sumber daya untuk pengembang yang dikirim langsung ke kotak masuk Anda.
newsletter-email-placeholder =
    .placeholder = Surel
newsletter-privacy-label = Saya setuju Mozilla menangani informasi saya seperti yang dijelaskan dalam <a data-l10n-name="privacy-policy">Kebijakan Privasi</a>.
newsletter-subscribe-button = Berlangganan
newsletter-thanks-title = Trims!
newsletter-thanks-message = Jika sebelumnya Anda belum pernah mengonfirmasi langganan nawala terkait Mozilla, Anda mungkin harus melakukannya. Silakan cek surel dari kami di kotak masuk atau filter spam Anda.
footer-title = Firefox Developer Edition
footer-message = Mencari lebih dari sekadar Alat Pengembang? Cobalah peramban Firefox yang dibuat secara khusus untuk pengembang dan alur kerja modern.
footer-learn-more-link = Pelajari lebih lanjut
features-learn-more = Pelajari lebih lanjut
features-inspector-title = Inspektur
features-inspector-desc = Inspeksi dan perbaiki kode untuk membangun tata letak pixel-perfect. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsol
features-console-desc = Melacak masalah-masalah CSS, JavaScript, keamanan, dan jaringan. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Debugger JavaScript yang hebat dengan dukungan untuk framework Anda. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Jaringan
features-network-desc = Pantau permintaan jaringan yang dapat memperlambat atau memblokir situs Anda. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Penyimpanan
features-storage-desc = Tambah, ubah, dan hapus tembolok, kuki, pangkalan data, dan data sesi. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Mode Desain Responsif
features-responsive-desc = Uji situs pada peranti emulasi di peramban Anda. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edit Visual
features-visual-editing-desc = Animasi, perataan, dan padding yang disempurnakan. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Kinerja
features-performance-desc = Bebaskan kemacetan, selesaikan proses, optimalkan aset. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memori
features-memory-desc = Temukan kebocoran memori dan buat aplikasi Anda semakin cepat. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Permintaan berlangganan gagal ({ $errorDescription }).
newsletter-error-unknown = Terjadi galat yang tidak diharapkan.
newsletter-error-timeout = Permintaan berlangganan kehabisan waktu.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Anda sukses mengaktifkan Alat Pengembang! Untuk memulai, jelajahi menu Pengembang Web atau buka dengan { $shortcut }.
