# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = { -brand-full-name } વિશે
releaseNotes-link = નવું શું છે
update-checkForUpdatesButton =
    .label = સુધારા માટે ચકાસો
    .accesskey = સી
update-updateButton =
    .label = અપડેટ કરવા માટે પુનઃપ્રારંભ કરો { -brand-shorter-name }
    .accesskey = આર
update-checkingForUpdates = સુધારાઓને ચકાસી રહ્યા છે…
update-downloading = <img data-l10n-name="icon"/>સુધારાને ડાઉનલોડ કરી રહ્યા છે — <label data-l10n-name="download-status"/>
update-applying = સુધારા લાગુ કરી રહ્યા છે…
update-failed = અપડેટ કરવું નિષ્ફળ થયું.<label data-l10n-name="failed-link">તાજેતરની આવૃત્તિને ડાઉનલોડ કરો</label>
update-failed-main = અપડેટ કરવું નિષ્ફળ થયું.<a data-l10n-name="failed-link-main">તાજેતરની આવૃત્તિને ડાઉનલોડ કરો</a>
update-adminDisabled = તમારા સિસ્ટમ સંચાલક દ્દારા સુધારો નિષ્ક્રિય
update-noUpdatesFound = { -brand-short-name } નવીનકૃત છે
update-otherInstanceHandlingUpdates = { -brand-short-name } એ બીજા નમૂના દ્દારા સુધારી દેવામાં આવ્યુ છે
update-manual = સુધારાઓ આની પર ઉપલબ્ધ છે <label data-l10n-name="manual-link"/>
update-unsupported = તમે આ સિસ્ટમ પર આગળનાં સુધારા ચલાવી શકતા નથી. <label data-l10n-name="unsupported-link">વધુ શીખો</label>
update-restarting = પુનઃશરૂ
channel-description = તમે હમણાં<label data-l10n-name="current-channel"></label>ચેનલ અપડેટ કરો
warningDesc-version = { -brand-short-name } પરીક્ષણ છે માટે એ અસ્થાયી હોઇ શકે.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> એ <label data-l10n-name="community-exp-creditsLink">વૈશ્વિક સમુદાય</label> કે જે વેબને બધા માટે મુક્ત, જાહેર અને સુલભ બનાવી રાખવા માટે ભેગો કામ કરે છે.
community-2 = { -brand-short-name } તેના દ્દારા રચેલ છે <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>,એ<label data-l10n-name="community-creditsLink">વૈશ્વીક સમુદાય</label> વેબને બધા માટે મુક્ત, જાહેર અને સુલભ બનાવી રાખવા માટે ભેગા કામ કરીએ છીએ.
helpus = મદદ કરવા માંગો છો?<label data-l10n-name="helpus-donateLink">દાન આપો</label>અથવા<label data-l10n-name="helpus-getInvolvedLink">સામેલ કરો!</label>
bottomLinks-license = પરવાના માહિતી
bottomLinks-rights = અંતિમ વપરાશકર્તા હકો
bottomLinks-privacy = ગોપનીયતા નીતિ
aboutDialog-architecture-sixtyFourBit = 64-બીટ
aboutDialog-architecture-thirtyTwoBit = 32-બીટ
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
