# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = புதுப்பிக்க புதிய { -brand-shorter-name } உள்ளது.
    .buttonlabel = புதியதை பதிவிறக்கு
    .buttonaccesskey = D
    .secondarybuttonlabel = இப்போது வேண்டாம்
    .secondarybuttonaccesskey = N
appmenu-update-available-message = இன்றைய வேகமும் தனியுரிமையும் கிடைத்திட { -brand-shorter-name } உலாவியைப் புதுப்பி.
appmenu-update-manual =
    .label = புதிய பதிப்பிற்கு { -brand-shorter-name } உலாவியை மேம்படுத்த முடியவில்லை.
    .buttonlabel = { -brand-shorter-name } பதிவிறக்குக
    .buttonaccesskey = D
    .secondarybuttonlabel = இப்போது வேண்டாம்
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = புத்தம் புதிய { -brand-shorter-name } உலாவியை பதிவிக்குங்கள் நிறுவ நாங்கள் உதவுகிறோம்.
appmenu-update-whats-new =
    .value = புதிய வரவுகளைப் பார்.
appmenu-update-restart =
    .label = { -brand-shorter-name } உலாவியை புதுப்பிக்க மீள்துவக்கு
    .buttonlabel = மீள்துவக்கி மீட்டமை
    .buttonaccesskey = R
    .secondarybuttonlabel = இப்போது வேண்டாம்
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = விரைவு மீட்துவக்கத்திற்கு பிறகு, { -brand-shorter-name } தனிப்பட்ட உலாவலில் இல்லாத உங்கள் எல்லா திறந்த கீற்றுகள் சாளரங்களையும் மீட்டமைக்கும்.
appmenu-addon-post-install-message = <image data-l10n-name='addon-menu-icon'></image> மெனுவில் <image data-l10n-name='addon-install-icon'></image> என்பதைச் சொடுக்குவதின் மூலம் உங்கள் மேற்சேர்க்கைகளை நிர்வகியுங்கள்.
