# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = ਅਹਿਮ ਖ਼ਬਰਾਂ
heading = ਆਪਣੇ { -brand-short-name } ਪਰੋਫਾਇਲ ਲਈ ਬਦਲੋ
changed-title = ਕੀ ਬਦਲ ਗਿਆ?
changed-desc-profiles = { -brand-short-name } ਦੀ ਇੰਸਟਾਲੇਸ਼ਨ ਦੀ ਨਵੀਂ ਪਰੋਫਾਈਲ ਹੈ। ਪਰੋਫਾਈਲ ਉਹਨਾਂ ਫਾਇਲਾਂ ਦਾ ਸਮੂਹ ਹੈ, ਜਿੱਥੇ ਫਾਇਰਫਾਕਸ ਬੁੱਕਮਾਰਕ, ਪਾਸਵਰਡ ਅਤੇ ਵਰਤੋਂਕਾਰ ਪਸੰਦ ਵਰਗੀਆਂ ਜਾਣਕਾਰੀ ਸੰਭਾਲਦਾ ਹੈ।
options-title = ਮੇਰੇ ਕੋਲ ਕੀ ਚੋਣਾਂ ਹਨ?
resources = ਸਰੋਤ:
support-link = ਪਰੋਫਾਇਲ ਮੈਨੇਜਰ ਦਾ ਇਸਤੇਮਾਲ ਕਰਨਾ - ਸਮਰਥਨ ਲੇਖ
sync-header = ਸਾਈਨ ਇਨ ਕਰੋ ਜਾਂ { -fxaccount-brand-name } ਬਣਾਓ
sync-label = ਆਪਣਾ ਈਮੇਲ ਭਰੋ
sync-input =
    .placeholder = ਈਮੇਲ
sync-button = ਜਾਰੀ ਰੱਖੋ
sync-terms = ਜਾਰੀ ਰੱਖ ਕੇ ਤੁਸੀਂ <a data-l10n-name="terms">ਸੇਵਾ ਦੀਆਂ ਸ਼ਰਤਾਂ</a> ਅਤੇ <a data-l10n-name="privacy">ਪਰਦੇਦਾਰੀ ਨੀਤੀ</a> ਨਾਲ ਸਹਿਮਤ ਹੁੰਦੇ ਹੋ।
sync-first = ਪਹਿਲੀ ਵਾਰ { -sync-brand-name } ਵਰਤ ਰਹੇ ਹੋ? ਤੁਹਾਨੂੰ ਆਪਣੀ ਜਾਣਕਾਰੀ ਨੂੰ ਸਿੰਕ ਕਰਨ ਲਈ ਫਾਇਰਫਾਕਸ ਦੀ ਹਰੇਕ ਇੰਸਟਾਲੇਸ਼ਨ ਲਈ ਸਾਈਨ ਇਨ ਕਰਨ ਦੀ ਲੋੜ ਪਵੇਗੀ।
sync-learn = ਹੋਰ ਜਾਣੋ
