# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Pri la iloj por programistoj
enable-title = Aktivigi la ilojn de Firefox por programistoj
enable-inspect-element-title = Aktivigi la ilojn de Firefox por programistoj por uzi «Inspekti elementon»
enable-inspect-element-message = Esplori kaj redakti HTML kaj CSS per la inspektilo de la iloj por programistoj.
enable-about-debugging-message = Programi kaj senerarigi WebExtensions, web workers, service workers kaj pli, per la iloj por programistoj de Firefox.
enable-key-shortcut-message = Vi aktivigis ŝparvojon de la iloj por programistoj. Se tio estis eraro, vi povas fermi tiun ĉi langeton.
enable-menu-message = Perfektigi la HTML, CSS kaj JavaScript de via retejo per iloj kiel Inspektilo kaj Erarserĉilo.
enable-common-message = La iloj por programistoj de Firefox estas norme malaktivaj por doni al vi pli da regado super via retumilo.
enable-learn-more-link = Pli da informo pri la iloj por programistoj
enable-enable-button = Aktivigi la ilojn por programistoj
enable-close-button = Fermi tiun ĉi langeton
welcome-title = Bonvenon al la iloj de Firefox por programistoj!
newsletter-title = Novaĵletero de Mozilla por programistoj
newsletter-message = Ricevu novaĵojn por programistoj, trukojn kaj rimedojn rekte en via enirkesto.
newsletter-email-placeholder =
    .placeholder = Retpoŝto
newsletter-privacy-label = Mi konsentas la pritrakton de miaj datumoj pere de Mozilla, laŭ la klarigo en tiu ĉi <a data-l10n-name="privacy-policy">politiko pri privateco</a>.
newsletter-subscribe-button = Aboni
newsletter-thanks-title = Dankon!
newsletter-thanks-message = Se vi antaŭe ne konfirmis abonon al novaĵletero de Mozilla, vi eble devos tion fari. Bonvolu kontroli ĉu estas retpoŝto nia en via retpoŝta enirkesto aŭ trudmesaĝujo.
footer-title = Firefox Developer Edition
footer-message = Ĉu vi volas pli ol nur la iloj por programistoj? Kontrolu la retumilon de Firefox, kiu estis farita specife por programistoj kaj modernaj laborfluoj.
footer-learn-more-link = Pli da informo
features-learn-more = Pli da informo
features-inspector-title = Inspektilo
features-inspector-desc = Inspekti kaj rafini kodon por krei aranĝojn precizegajn. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konzolo
features-console-desc = Spuri problemojn kun CSS, JavaScript, sekureco kaj reto. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Erarserĉilo
features-debugger-desc = Potenca erarserĉilo de JavaScript, kun subteno por via substrukturo. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Reto
features-network-desc = Kontroli la retajn petojn, kiuj povus malrapidigi aŭ bloki vian retejon. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Konservejo
features-storage-desc = Aldoni, modifi kaj forigi staplon, kuketojn, datumbazojn kaj datumojn de seanco. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Reĝimo de adaptema fasono
features-responsive-desc = Testi retejojn en imititaj aparatoj rekte en via retumilo. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Vida redakto
features-visual-editing-desc = Rafini animaciojn, liniigon kaj ŝtopon. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Efikeco
features-performance-desc = Forigi blokadpunktojn, optimumigi procezojn kaj rimedojn. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memoro
features-memory-desc = Trovi perdojn de memoro kaj plibonigi la efikecon de via programo. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Malsukcesa abona peto ({ $errorDescription }).
newsletter-error-unknown = Okazis neatendita eraro.
newsletter-error-timeout = Elĉerpiĝis la tempo por abona peto.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Vi sukcese aktivigis la ilojn por programistoj! Por komenci, esploru la menuon «Teksaĵa programisto» aŭ malfermu la ilojn per { $shortcut }.
