# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = A prepaus de las aisinas de desvolopament
enable-title = Activar las aisinas de desvolopament de Firefox
enable-inspect-element-title = Activatz las aisinas de desvolopament per utilizar Examinar l’element
enable-inspect-element-message = Examinatz e modificatz lo contengut HTML e CSS amb l’inspector de las aisinas de desvolopament.
enable-about-debugging-message = Desvolopatz e desbugatz de WebExtensions, web workers, servicis workers e mai amb las aisinas de desvolopament de Firfox.
enable-key-shortcut-message = Avètz activat un acorchi cap a las aisinas de desvolopament. Se’s una error, podètz tampar aqueste onglet.
enable-menu-message = Perfeccionatz l’HTML, CSS e JavaScript de vòstre site amb d’aisinas coma l’inspector e lo desbugador.
enable-common-message = Las aisinas de desvolopament de Firefox son desactivadas per defaut per dire de vos permetre de contrarotlar mai vòstre navegador.
enable-learn-more-link = Ne saber mai sus las aisinas pels devolopaires
enable-enable-button = Activar las aisinas pels desvolopaires
enable-close-button = Tampar aqueste onglet
welcome-title = Benvenguda a las aisinas de desvolopament de Firefox !
newsletter-title = Letra de ligason de Mozilla pels desvolopaires
newsletter-message = Recebètz de novetats, d’astúcias e de resorgas pels desvolopaires, dirèctament per corrièl.
newsletter-email-placeholder =
    .placeholder = Corrièl
newsletter-privacy-label = Accepti que Mozila utilize mas informacion segon sa <a data-l10n-name="privacy-policy">politica de confidencialitat</a>.
newsletter-subscribe-button = Se marcar
newsletter-thanks-title = Mercés plan !
newsletter-thanks-message = S’avètz pas ja confirmat un abonament a una letra de ligason de Mozilla, benlèu que o vos cal far. Verificatz vòstra bóstia de recepcion o corrièls pas desirables e cercatz un messatge nòstre.
footer-title = Firefox Developer Edition
footer-message = Cercatz mai que d’aisinas de desvolopament ? Descobrissètz lo navegador Firefox fach especialament pels desvolopaires e los flux laborals del monde modèrn.
footer-learn-more-link = Ne saber mai
features-learn-more = Ne saber mai
features-inspector-title = Inspector
features-inspector-desc = Inspectatz e afinatz vòstre còdi per obténer una compaginacion precisa al pixèl prèp. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consòla
features-console-desc = Identificar los problèmas de CSS, JavaScript, de seguretat ou de ret. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Desbugador
features-debugger-desc = Un desbugador potent compatible amb vòstra infrastructura. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Ret
features-network-desc = Detectar las cridas ret que pòdon alentir o blocar vòstre site. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Emmagazinatge
features-storage-desc = Apondètz, modificatz e escafatz l’escondador, los cookies, las bancas de donadas o donadas de session. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Vista adaptativa
features-responsive-desc = Testatz vòstres sites en simular diferents periferics dirèctament de vòstre navegador. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edicion visuala
features-visual-editing-desc = Reglatz las animacions, l’alinhament e las marges de manièra fina. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Performanças
features-performance-desc = Desblocatz los còls de botelhas, optimizatz los processús e las resorgas. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memòria
features-memory-desc = Detectatz las pèrdas e melhoratz las performanças de vòstra aplicacion. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Fracàs de la demanda d’abonament ({ $errorDescription }).
newsletter-error-unknown = Una error imprevista se’s producha.
newsletter-error-timeout = La demanda d’abonament a expirada.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Avètz corrèctament activat las aisinas de desvolopament. Per començar, exploratz lo menú Desvolopament web o dobrissètz las aisinas via { $shortcut }.
