# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Meer info
accessibility-text-label-header = Tekstlabels en -namen

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Waarschuwing
accessibility-fail =
    .alt = Fout
accessibility-best-practices =
    .alt = Goede voorbeelden

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Gebruik het attribuut <code>alt</code> om <div>area</div>-elementen die het attribuut <span>href</span> hebben te labelen. <a>Meer info</a>
accessibility-text-label-issue-dialog = Dialogen zouden gelabeld moeten zijn. <a>Meer info</a>
accessibility-text-label-issue-document-title = Documenten moeten een <code>title</code> hebben. <a>Meer info</a>
accessibility-text-label-issue-embed = Ingesloten inhoud moet worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-figure = Afbeeldingen met optionele bijschriften moeten worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-fieldset = <code>fieldset</code>-elementen moeten worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-fieldset-legend = Gebruik het element <code>legend</code> om <span>fieldset</span>-elementen te labelen. <a>Meer info</a>
accessibility-text-label-issue-form = Formulierelementen moeten worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-form-visible = Formulierelementen moeten een zichtbaar tekstlabel hebben. <a>Meer info</a>
accessibility-text-label-issue-frame = <code>frame</code>-elementen moeten worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-glyph = Gebruik het attribuut <code>alt</code> om <span>mglyph</span>-elementen te labelen. <a>Meer info</a>
accessibility-text-label-issue-heading = Kopteksten moeten worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-heading-content = Kopteksten moeten zichtbare tekstinhoud hebben. <a>Meer info</a>
accessibility-text-label-issue-iframe = Gebruik het attribuut <code>title</code> om <span>iframe</span>-inhoud te beschrijven. <a>Meer info</a>
accessibility-text-label-issue-image = Inhoud met afbeeldingen moet worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-interactive = Interactieve elementen moeten worden gelabeld. <a>Meer info</a>
accessibility-text-label-issue-optgroup-label = Gebruik het attribuut <code>label</code> om <span>optgroup</span>-elementen te labelen. <a>Meer info</a>
accessibility-text-label-issue-toolbar = Werkbalken moeten worden gelabeld als er meer dan een werkbalk is. <a>Meer info</a>
