# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = 了解更多
accessibility-text-label-header = 文字標籤與名稱

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = 警告
accessibility-fail =
    .alt = 錯誤
accessibility-best-practices =
    .alt = 最佳實踐

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = 使用 <code>alt</code> 屬性來標示含有 <span>href</span> 屬性的 <div>area</div> 元素。<a>了解更多</a>
accessibility-text-label-issue-dialog = 對話框中應該加入標籤。<a>了解更多</a>
accessibility-text-label-issue-document-title = 文件必須包含 <code>title</code> 元素。<a>了解更多</a>
accessibility-text-label-issue-embed = 嵌入內容必須加入標籤。<a>了解更多</a>
accessibility-text-label-issue-figure = 含有標題的圖表項目應該加入標籤。<a>了解更多</a>
accessibility-text-label-issue-fieldset = <code>fieldset</code> 元素應該加入標籤。<a>了解更多</a>
accessibility-text-label-issue-fieldset-legend = 使用 <code>legend</code> 元素來為 <span>fieldset</span> 元素加入標籤。<a>了解更多</a>
accessibility-text-label-issue-form = 表單元素必須加入標籤。<a>了解更多</a>
accessibility-text-label-issue-form-visible = 表單元素應該含有可見的文字標籤。<a>了解更多</a>
accessibility-text-label-issue-frame = <code>frame</code> 元素必須加入標籤。<a>了解更多</a>
accessibility-text-label-issue-glyph = 使用 <code>alt</code> 屬性來為 <span>mglyph</span> 元素加入標籤。<a>了解更多</a>
accessibility-text-label-issue-heading = 標題必須含有標籤。<a>了解更多</a>
accessibility-text-label-issue-heading-content = 標題應該有可見的文字內容。<a>了解更多</a>
accessibility-text-label-issue-iframe = 使用 <code>title</code> 屬性來說明 <span>iframe</span> 當中的內容。<a>了解更多</a>
accessibility-text-label-issue-image = 包含圖片的內容必須加入標籤。<a>了解更多</a>
accessibility-text-label-issue-interactive = 互動式元素必須加入標籤。<a>了解更多</a>
accessibility-text-label-issue-optgroup-label = 使用 <code>label</code> 屬性來為 <span>optgroup</span> 元素加入標籤。<a>了解更多</a>
accessibility-text-label-issue-toolbar = 有超過一個工具列時，必須為所有工具列加入標籤。<a>了解更多</a>
