# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = ກ່ຽວກັບ { -brand-full-name }
releaseNotes-link = ສິງໃຫມ່ໆ
update-checkForUpdatesButton =
    .label = ກວດສອບການອັບເດດ
    .accesskey = C
update-updateButton =
    .label = ເລີ່ມເຮັດວຽກໃຫມ່ເພື່ອອັບເດດ { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = ກຳລັງກວດສອບການອັບເດດ...
update-downloading = <img data-l10n-name="icon"/>ກຳລັງດາວໂລດໂຕອັບເດດ —<label data-l10n-name="download-status"/>
update-applying = ກຳລັງນຳໃຊ້ການອັບເດດ...
update-failed = ການອັບເດດລົ້ມເຫລວ.<label data-l10n-name="failed-link">ດາວໂຫລດລຸ້ນຫລ້າສຸດ</label>
update-failed-main = ການອັບເດດລົ້ມເຫລວ.<a data-l10n-name="failed-link-main">ດາວໂຫລດລຸ້ນຫລ້າສຸດ</a>
update-adminDisabled = ການອັບເດດໄດ້ຖືກປິດໂດຍຜູ້ຄຸ້ມຄອງລະບົບຂອງທ່ານ
update-noUpdatesFound = { -brand-short-name } ແມ່ນລຸ້ນລ່າສຸດແລ້ວ
update-otherInstanceHandlingUpdates = { -brand-short-name } ກຳລັງອັບເດດໂດຍອິນສະເຕນອື່ນຢູ່
update-manual = ອັບເດດມີຢູ່ທີ<label data-l10n-name="manual-link"/>
update-unsupported = ທ່ານບໍ່ສາມາດດຳເນີນການອັບເດດອື່ນໆໄດ້ອີກໃນລະບົບນີ້.<label data-l10n-name="unsupported-link">ສຶກສາເພີ່ມເຕີມ...</label>
update-restarting = ກຳລັງເລີ່ມເຮັດວຽກໃຫມ່…
channel-description = ຕອນນີ້ທ່ານກຳລັງຢູ່ທີ<label data-l10n-name="current-channel"></label>ຊອງການອັບເດດ.
warningDesc-version = { -brand-short-name } ແມ່ນຢູ່ໃນຊ່ວງກຳລັງທົດລອງນຳໃຊ້ ແລະ ອາດຈະບໍ່ມີຄວາມສະຖຽນ.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label>ແມ່ນອັນຫນຶ່ງ<label data-l10n-name="community-exp-creditsLink">ຊຸ່ມຊົນທົ່ວໂລກ</label>ເຮັດວຽກຮ່ວມກັນເພື່ອເຮັດໃຫ້ເວັບເປີດໃຊ້ງານໄດ້ ແລະ ເຮັດໃຫ້ທຸກຄົນສາມາດເຂົ້າເຖິງເວັບໄດ້.
community-2 = { -brand-short-name } ໄດ້ຮັບການອອກແບບໂດຍ<label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, ອັນຫນຶ່ງ<label data-l10n-name="community-creditsLink">ຊຸ່ມຊົນທົ່ວໂລກ</label>ເຮັດວຽກຮ່ວມກັນເພື່ອເຮັດໃຫ້ເວັບເປີດໃຊ້ງານໄດ້ ແລະ ເຮັດໃຫ້ທຸກຄົນສາມາດເຂົ້າເຖິງເວັບໄດ້.
helpus = ຕ້ອງການການຊ່ວຍເຫລືອຍັງບໍ່?<label data-l10n-name="helpus-donateLink">ບໍລິຈາກ</label> ຫລື <label data-l10n-name="helpus-getInvolvedLink">ເຂົ້າມາມີສ່ວນຮ່ວມນຳກັນ!</label>
bottomLinks-license = ຂໍ້ມູນກ່ຽວກັບລິຂະສິດ
bottomLinks-rights = ສິດທິຂອງຜູ້ໃຊ້
bottomLinks-privacy = ນະໂຍບາຍຄວາມເປັນສ່ວນຕົວ
aboutDialog-architecture-sixtyFourBit = 64-ບິທ
aboutDialog-architecture-thirtyTwoBit = 32-ບິທ
