# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = အခက်အခဲဆိုင်ရာဖြေရှင်းခြင်းနည်းလမ်းများ။
page-subtitle = This page contains technical information that might be useful when you're trying to solve a problem. If you are looking for answers to common questions about { -brand-short-name }, check out our <a data-l10n-name="support-link">support website</a>.
crashes-title = ပျက်ဆီးချက်တင်ပြသူ
crashes-id = ထုတ်ပြန်ချက် ID
crashes-send-date = တင်သွင်းခဲ့သောအချိန်
crashes-all-reports = အပျက်အစီး အစီရင်ခံစာများ
crashes-no-config = ယခု အက်ပလီကေးရှင်းသည် အပျက်အစီး အစီရင်ခံစာများအား​ ပြရန် စီမံမထားပါ
extensions-title = တိုးချဲ့ချက်များ
extensions-name = အမည်
extensions-enabled = ဖွင့်ထားတယ်
extensions-version = မူအဆင့်
extensions-id = အိုင်ဒီ
features-title = { -brand-short-name } တွင် ပါဝင်သော လုပ်ဆောင်ချက်များ
features-name = အမည်
features-version = ဗားရှင်း
features-id = ID
app-basics-title = အပ္ပလီကေးရှင်း အခြေခံ
app-basics-name = အမည်
app-basics-version = မူအဆင့်
app-basics-build-id = တည်ဆောင်မှု အိုင်ဒီ
app-basics-update-channel = အဆင့်မြှင့်လိုင်း
app-basics-update-history = အဆင့်မြှင့်တင်ချက် မှတ်တမ်း
app-basics-show-update-history = အဆင့်မြှင့်တင်ချက် မှတ်တမ်းကို ပြသပါ
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] ပရိုဖိုင် လမ်းညွှန်
       *[other] ပရိုဖိုင် ဖိုဒါ
    }
app-basics-enabled-plugins = ပက်လက်အင် အားဖွင့်ပါ
app-basics-build-config = Configuration တည်ဆောက်ပါ
app-basics-user-agent = အသုံးပြုသူ အေးဂျင့်
app-basics-os = OS
app-basics-memory-use = မှတ်ဉာဏ်သုံးဆွဲမှူ
app-basics-performance = လုပ်ဆောင်မှု
app-basics-service-workers = စာရင်းပြုထားသည့် Service Workers
app-basics-profiles = ပရိုဖိုင်များ
app-basics-multi-process-support = တစ်ပြိုင်နက်လုပ်ဆောင်ချက် ဝင်းဒိုးများ
app-basics-key-google = Google Key
app-basics-key-mozilla = Mozilla Location Service Key
app-basics-safe-mode = အန္တရာယ်ကင်း စနစ်
show-dir-label =
    { PLATFORM() ->
        [macos] ရှာဖွေကိရိယာမှာ ဖေါ်ပြပါ
        [windows] ဖိုလ်ဒါအားဖွင့်ပါ
       *[other] ဖွင့်ထားသော လမ်းညွှန်
    }
modified-key-prefs-title = Important Modified Preferences
modified-prefs-name = အမည်
modified-prefs-value = တန်ဖိုး
user-js-title = user.js Preferences
user-js-description = Your profile folder contains a <a data-l10n-name="user-js-link">user.js file</a>, which includes preferences that were not created by { -brand-short-name }.
locked-key-prefs-title = အရေးကြီးသော အပြင်အဆင်များ
locked-prefs-name = အမည်
locked-prefs-value = တန်ဖိုး
graphics-title = ဂရပ်ဖစ်
graphics-features-title = လုပ်ဆောင်ချက်များ
graphics-diagnostics-title = ချွတ်ယွင်းချက်ဖော်ထုတ်မှုများ
graphics-failure-log-title = အမှားဆိုင်ရာ မှတ်တမ်း
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = ဆုံးဖြတ်မှုဆိုင်ရာ မှတ်တမ်း
graphics-crash-guards-title = အပျက်အစီးကာကွယ်မှုစနစ်ကြောင့် ပိတ်ထားသည့် လုပ်ဆောင်ချက်များ
graphics-workarounds-title = ယာယီအစားထိုးဆောင်ရွက်နိုင်သည်များ
place-database-title = ဒေတာဘေ့စ်ထားရန်
place-database-integrity = Integrity
place-database-verify-integrity = Integrity ကို အတည်ပြုရန်
js-title = JavaScript
js-incremental-gc = GC တိုးတက်မှု
a11y-title = ဆက်စပ်ပစ္စည်း
a11y-activated = လှုပ်ရှားခဲ့ပြီး
a11y-force-disabled = အသုံးပြုရန် တားဆီးထား
library-version-title = လိုက်ဘရီ ဗားရှင်း
copy-text-to-clipboard-label = ကလစ်ဘုတ်သို့ ကူးသောစာ
copy-raw-data-to-clipboard-label = ကူးထားသောဒေတာအကြမ်းကို ကလစ်ဘုတ်သို့
sandbox-title = စမ်းသပ်
sandbox-sys-call-log-title = Rejected System Calls
sandbox-sys-call-index = #
sandbox-sys-call-age = လွန်ခဲ့သော စက္ကန့်က
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = လုပ်ငန်းစဉ် အမျိုးအစား
sandbox-sys-call-number = Syscall
sandbox-sys-call-args = Arguments
safe-mode-title = လုံခြုံရေးသုံးပုံစံ အားသုံးကြည့်မည်
restart-in-safe-mode-label = ထပ်ပေါင်းဆော့ဝဲများ ပိတ်ပြီး ပြန်စမည်...
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days = လွန်ခဲ့သော { $days } ရက်အတွက် ပျက်စီးမှု အစီရင်ခံစာများ
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes = လွန်ခဲ့သော { $minutes } မိနစ်က
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours = လွန်ခဲ့သော { $hours } နာရီက
# Variables
# $days (integer) - Number of days since crash
crashes-time-days = လွန်ခဲ့သော { $days } ရက်က
# Variables
# $reports (integer) - Number of pending reports
pending-reports = ပျက်စီးမှု အစီရင်ခံစာ အားလုံး (သတ်မှတ်ထားသော ကာလအတွင်းရှိ ဆိုင်းငံ့ ပျက်စီးမှု အစီရင်ခံစာ { $reports } စောင် အပါအဝင်)
raw-data-copied = ကလစ်ဘုတ်သို့ ကူးပြီးသောဒေတာအကြမ်း
text-copied = ကလစ်ဘုတ်သို့ ကူးပြီးသောစာ

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = သင်၏ရုပ်ထွက်ပြဆော့ဝဲဗားရှင်းကြောင့်ပိတ်ထားသည်။
blocked-gfx-card = သင်၏ရုပ်ထွက်ပြဟတ်ဒ်ဝဲကဒ်ကြောင့်ပိတ်ထားပါသည်။
blocked-os-version = သင်၏အော်ပရေးတင်း စနစ်ဗားရှင်းကြောင့်ပိတ်ထားသည်။
blocked-mismatched-version = သင့် ရုပ်ထွက်ပြကြားခံဆော့ဖ်ဝဲသည် စာရင်းပြနှင့် DLLဖိုင် မတူညီသောကြောင့် ပိတ်ထားသည်။
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = သင်၏ရုပ်ထွက်ပြဆော့ဝဲဗားရှင်းအရပိတ်ထားသည်။ကျေးဇူးပြုသင့်ဆော့ဝဲကို { $driverVersion } အဆင့်သို့မဟုတ်ထိုထက်အသစ်သို့မြှင့်တင်ပေးပါ။
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType Parameters
compositing = ပေါင်းစပ်ဖွဲ့စည်းခြင်း
hardware-h264 = Hardware H264 Decoding
main-thread-no-omtc = အဓိက thread, OMTC မပါဝင်
yes = ဟုတ်ပါသည်
no = မဟုတ်ပါ

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = တွေ့ပြီ
missing = ပျောက်နေသော
gpu-description = ဖေါ်ပြချက်
gpu-vendor-id = ထုတ်လုပ်ရောင်းချသူ အမှတ်အသား
gpu-device-id = ပစ္စည်း အမှတ်အသား
gpu-subsys-id = စနစ်ခွဲ အိုင်ဒီ
gpu-drivers = Drivers
gpu-ram = RAM
gpu-driver-version = Driver ဗားရှင်း
gpu-driver-date = Driver နေ့စွဲ
gpu-active = လုပ်ဆောင်နေသည်
webgl1-wsiinfo = WebGL 1 စက်သုံးဆော့ဝဲ WSI အချက်အလက်
webgl1-renderer = WebGL 1 စက်သုံးဆော့ဝဲ စက်သုံး
webgl1-version = WebGL 1 စက်သုံး ဗားရှင်း
webgl1-driver-extensions = WebGL 1 စက်သုံးချဲ့သုံးဆော့ဝဲများ
webgl1-extensions = WebGL 1 ချဲ့သုံးဆော့ဝဲများ
webgl2-wsiinfo = WebGL 2 စက်သုံး WSI အချက်အလက်
webgl2-renderer = WebGL2 ပံ့ပိုးသူ
webgl2-version = WebGL 2 စက်သုံးဗားရှင်း
webgl2-driver-extensions = WebGL 2 စက်သုံးချဲ့ သုံးဆော့ဝဲများ
webgl2-extensions = WebGL 2 ချဲ့သုံးဆော့ဝဲများ
blocklisted-bug = ဖြစ်တတ်သည့်ပြဿနာများရှိသောကြောင့် ပိတ်ပင်စာရင်းထဲ ထည့်ထားသည်
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = အမှား { $bugNumber }
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = ပိတ်ပင်စာရင်းထဲ ထည့်ထားသည်။; အမှားကုဒ် { $failureCode }
d3d11layers-crash-guard = D3D11 Compositor
d3d11video-crash-guard = D3D11 Video Decoder
d3d9video-crash-buard = D3D9 Video Decoder
glcontext-crash-guard = OpenGL
reset-on-next-restart = နောက်တစ်ကြိမ်ဖွင့်သည့်အချိန်တွင် တန်ဖိုးများကို မူလအတိုင်း ပြန်သတ်မှတ်ပါ
gpu-process-kill-button = GPU လုပ်ဆောင်မှုကို ရပ်ဆိုင်းရန်
audio-backend = အသံနောက်ကွယ်
min-lib-versions = ရှိသင့်တဲ့ အနိမ့်ဆုံး ဗားရှင်း
loaded-lib-versions = အသုံးပြုသည့် ဗားရှင်း
has-seccomp-bpf = Seccomp-BPF (System Call Filtering)
has-seccomp-tsync = Seccomp Thread Synchronization
has-user-namespaces = User Namespaces
has-privileged-user-namespaces = အခွင့်ရလုပ်ငန်းစဉ်များအတွက် User Namespaces
can-sandbox-content = Content Process စမ်းသပ်ခြင်း
can-sandbox-media = မီဒီယာ ပလပ်အင် စမ်းသပ်ခြင်း
content-sandbox-level = Content Process Sandbox Level
sandbox-proc-type-content = အကြောင်းအရာ
sandbox-proc-type-media-plugin = မီဒီယာ ပလက်ဂ်အင်
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = အသုံးပြုသူက ဖွင့်ထားသည်
multi-process-status-1 = မူလကတည်းက ဖွင့်ထားသည်
multi-process-status-2 = ပိတ်ထားသည်
multi-process-status-4 = သုံးစွဲနိုင်စွမ်းတန်ဆာပလာများက ပိတ်ထားသည်
multi-process-status-6 = ပေးမရိုက်သည့်စာများပါဝင်နေသောကြောင့် ပိတ်ထားသည်
multi-process-status-7 = အတ်အွန်များက ပိတ်ထားသည်
multi-process-status-8 = အတင်းအကျပ် ပိတ်ထားသည်
multi-process-status-unknown = မသိနိုင်သော အခြေအနေ
async-pan-zoom = Asynchronous Pan/Zoom
apz-none = မရွေးပါ
wheel-enabled = မောက်စ်အလယ်ဘီးမှ ဒေတာလက်ခံမှုကို ဖွင့်ထားသည်
touch-enabled = တို့ထိပြားမှ ဒေတာလက်ခံမှုကို ဖွင့်ထားသည်
drag-enabled = စခရိုးလ်ဘားတန်းဆွဲရွှေ့ခြင်း ဖွင့်ထားသည်

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = မထောက်ပံ့ထားသော အပြင်အဆင် { $preferenceKey } ကြောင့် async wheel input ကို ပိတ်ထားသည်
touch-warning = မထောက်ပံ့ထားသော အပြင်အဆင် { $preferenceKey } ကြောင့် async touch input ကို ပိတ်ထားသည်

## Strings representing the status of the Enterprise Policies engine.

