# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

title-label = ກ່ຽວກັບ Plugins
installed-plugins-label = ຕິດຕັ້ງ Plugins ແລ້ວ
no-plugins-are-installed-label = ບໍ່ພົບ Plugins ທີ່ໄດ້ຮັບການຕິດຕັ້ງໄວ້
deprecation-description = ມີບາງຢ່າງຂາດຫາຍໄປ? ບາງປັກອິນແມ່ນບໍ່ໄດ້ຮັບການສະຫນັບສະຫນູນແລ້ວ. <a data-l10n-name="deprecation-link">ຮຽນຮູ້ເພີ່ມເຕີມ.</a>

## The information of plugins
##
## Variables:
##   $pluginLibraries: the plugin library
##   $pluginFullPath: path of the plugin
##   $version: version of the plugin

file-dd = <span data-l10n-name="file">ໄຟລ໌:</span> { $pluginLibraries }
path-dd = <span data-l10n-name="path">ເສັ້ນທາງ:</span> { $pluginFullPath }
version-dd = <span data-l10n-name="version">ລຸ້ນ:</span> { $version }

## These strings describe the state of plugins
##
## Variables:
##   $blockListState: show some special state of the plugin, such as blocked, outdated

state-dd-enabled = <span data-l10n-name="state">ສະພາວະ:</span> ເປີດໃຊ້ງານແລ້ວ
state-dd-enabled-block-list-state = <span data-l10n-name="state">ສະພາວະ:</span> ເປີດໃຊ້ງານແລ້ວ ({ $blockListState })
state-dd-Disabled = <span data-l10n-name="state">ສະພາວະ:</span> ປິດໃຊ້ງານແລ້ວ
state-dd-Disabled-block-list-state = <span data-l10n-name="state">ສະພາວະ:</span> ປິດໃຊ້ງານແລ້ວ ({ $blockListState })
mime-type-label = ຊະນິດ MIME
description-label = ຄຳອະທິບາຍ​
suffixes-label = Suffixes
