# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = ​ຂໍ້ມູນການແກ້ໄຂບັນຫາ
page-subtitle = ຫນ້ານີ້ປະກອບມີຂໍ້ມູນທາງເທັກນິິດທີ່ອາດຈະເປັນປະໂຫຍດຕໍ່ທ່ານທີກຳລັງພະຍາຍາມຈະແກ້ໄຂບັນຫາ ຫາກວ່າທ່ານກຳລັງຊອກຫາຄຳຕອບສຳລັບຄຳຖາມທີ່ທ່ານມັກພົບຕະລອດກ່ຽວກັບ { -brand-short-name }, ໃຫ້ໄປກວດເບິງ <a data-l10n-name="support-link">ເວັບໄຊຕ໌ທີ່ໃຫ້ຂໍ້ມູນສະຫນັບສະຫນູນ</a>.
crashes-title = ລາຍງານຂໍ້ຜິດພາດ
crashes-id = ລາຍງານ ID
crashes-send-date = ສົ່ງຂໍ້ມູນແລ້ວ
crashes-all-reports = ລາຍງານຂໍ້ຜິດພາດທັງຫມົດ
crashes-no-config = ແອັບພລິເຄຊັນນີ້ບໍ່ໄດ້ຮັບການຕັ້ງຄ່າໃຫ້ສະແດງຜົນລາຍງານຂໍ້ຜິດພາດ.
extensions-title = Extensions
extensions-name = ຊື່​
extensions-enabled = ເປີດໃຊ້ງານແລ້ວ
extensions-version = ລູ້ນ​
extensions-id = ID
security-software-type = ປະເພດ
security-software-name = ຊື່
security-software-firewall = ໄຟວໍລ
features-title = ຄູນລັກສະນະຂອງ { -brand-short-name }
features-name = ຊື່
features-version = ເວີຊັນ
features-id = ID
app-basics-title = ແອັບພຣິເຄຊັນພື້ນຖານ
app-basics-name = ຊື່​
app-basics-version = ລູ້ນ​
app-basics-build-id = Build ID
app-basics-update-channel = ຊ່ອງທາງອັບເດດ
app-basics-update-history = ປະຫວັດການອັບເດດ
app-basics-show-update-history = ສະແດງປະຫວັດການອັບເດດ
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] ໄດເລັກທໍລີໂປຣໄຟລ໌
       *[other] ໂຟຣເດີໂປຣໄຟລ໌
    }
app-basics-enabled-plugins = ເປີດການໃຊ້ງານ Plugins ແລ້ວ
app-basics-build-config = Build Configuration
app-basics-user-agent = User Agent
app-basics-os = ລະບົບປະຕິບັດການ
app-basics-memory-use = ກາານໃຊ້ຫນ່ວຍຄວາມຈຳ
app-basics-performance = ປະສິດທິພາບ
app-basics-service-workers = ລົງທະບຽນ Service Workers ແລ້ວ
app-basics-profiles = ໂປ​ຣ​ໄຟ​ລ໌
app-basics-multi-process-support = ວິນໂດ Multiprocess
app-basics-key-mozilla = Mozilla Location Service Key
app-basics-safe-mode = ໂຫມດປອດໄພ
show-dir-label =
    { PLATFORM() ->
        [macos] ສະແດງໃນ Finder
        [windows] ເປີດໂຟນເດີ
       *[other] ເປີດໄດເລັກທໍລີ
    }
modified-key-prefs-title = ການຕັ້ງຄ່າສຳຄັນທີ່ຖືກປ່ຽນແປງ
modified-prefs-name = ຊື່​
modified-prefs-value = ຄ່າ​​​
user-js-title = ການຕັ້ງຄ່າ user.js
user-js-description = ໂຟລເດີໂປຣໄຟລ໌ຂອງທ່ານປະກອບມີ <a data-l10n-name="user-js-link">ໄຟລ໌ user.js</a>, ຊຶ່ງລວມມີການຕັ້ງຄ່າທີ່ບໍ່ໄດ້ຮັບການສ້າງຂື້ນມາໂດຍ { -brand-short-name }.
locked-key-prefs-title = ການຕັ້ງຄ່າສຳຄັນທີ່ຖືກລັອກ
locked-prefs-name = ຊື່​
locked-prefs-value = ຄ່າ​​​​
graphics-title = ກຣາບຟິກ
graphics-features-title = ຄຸນລັກສະນະ
graphics-diagnostics-title = ການວິນິດໄສ
graphics-failure-log-title = Failure Log
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Decision Log
graphics-crash-guards-title = Crash Guard Disabled Features
graphics-workarounds-title = Workarounds
place-database-title = Places Database
place-database-integrity = ຄວາມສົມບູນ
place-database-verify-integrity = ກວດສອບຄວາມສົມບູນ
js-title = JavaScript​
js-incremental-gc = Incremental GC
a11y-title = ການຊ່ວຍເຂົ້າເຖິງ
a11y-activated = ເປີດໃຊ້ງານແລ້ວ
a11y-force-disabled = ປ້ອງກັນການຊ່ວຍເຂົ້າເຖິງ
library-version-title = ລຸ້ນ Library
copy-text-to-clipboard-label = ສຳເນົາຂໍ້ຄວາມໄປໄວ້ທີ່ Clipboard
copy-raw-data-to-clipboard-label = ສຳເນົາຂໍ້ມູນດິບໄປໄວ້ທີ່ Clipboard
sandbox-title = Sandbox
sandbox-sys-call-log-title = ປະຕິເສດລະບົບການໂທ
sandbox-sys-call-index = #
sandbox-sys-call-age = ວິນາທີທີ່ຜ່ານມາ
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = ປະເພດ Process
sandbox-sys-call-number = Syscall
sandbox-sys-call-args = Arguments
safe-mode-title = ລອງໃຊ້ໂຫມດປອດໄພ
restart-in-safe-mode-label = ເລີ່ມເຮັດວຽກໃຫມ່ພ້ອມປິດໃຊ້ງານໂປຣແກຣມເສີມ…
media-title = ມີເດຍ
media-output-devices-title = ອຸປະກອນອອກ
media-input-devices-title = ອຸປະກອນເຂົ້າ
media-device-name = ຊື່
media-device-group = ກຸ່ມ
media-device-vendor = ຜູ້ຂາຍ
media-device-state = ສະຖານະ
media-device-preferred = ທີ່ຕ້ອງການ
media-device-format = ຮູບແບບ
media-device-channels = ຊ່ອງ
media-device-rate = ອັດຕາ
media-device-latency = ການຍືດເວລາ
intl-app-title = ການຕັ້ງຄ່າແອັບພິເຄຊັ່ນ
intl-os-title = ລະ​ບົບ​ປະ​ຕິ​ບັດ​ການ
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days = ລາຍງານຂໍ້ຜິດພາດສຳລັບ { $days } ມື້ຫລ້າສຸດ
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes = { $minutes } ນາທີຜ່ານມາ
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours = { $hours } ຊົ່ວໂມງຜ່ານມາ
# Variables
# $days (integer) - Number of days since crash
crashes-time-days = { $days } ມື້ຜ່ານມາ
# Variables
# $reports (integer) - Number of pending reports
pending-reports = ລາຍງາຍຂໍ້ຜິດພາດທັງຫມົດ (ປະກອບດ້ວຍ { $reports } ຂໍ້ຜິດພາດທີ່ຍັງບໍ່ທັນໄດ້ລາຍງານຕາມເວລາທີ່ກຳນົດໄວ້)
raw-data-copied = ສຳເນົາຂໍ້ມູນດິບໄປໄວ້ທີ່ Clipboard ແລ້ວ
text-copied = ຂໍ້ຄວາມໄດ້ຖືກສຳເນົາໄປໄວ້ທີ່ Clipboard ແລ້ວ

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = ຖືກບັອກຈາກລຸ້ນໄດຣເວີກາດຈໍຂອງທ່ານ.
blocked-gfx-card = ຖືກບັອກຈາກລຸ້ນໄດຣເວີກາດຈໍຂອງທ່ານເພາະວ່າບັນຂອງໄດຣເວີຍັງບໍ່ທັນໄດ້ຮັບການແກ້ໄຂ.
blocked-os-version = ຖືກບັອກຈາກລຸ້ນວິນໂດຂອງທ່ານ.
blocked-mismatched-version = ຖືກບັອກຈາກລຸ້ນໄດຣເວີກາດຈໍຂອງທ່ານບໍ່ກົງກັນລະຫວ່າງ Registry ແລະ DLL.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = ຖືກບັອກຈາກລຸ້ນໄດຣເວີກາດຈໍຂອງທ່ານ. ກະລຸນາອັບເດດໄດຣເວີກາດຈໍຂອງທ່ານໄປເປັນລຸ້ນທີ່ { $driverVersion } ຫລື ໃຫມ່ກ່ວາ.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ພາລາມີເຕີ ClearType
compositing = ການປະກອບ
hardware-h264 = ການຖອດລະຫັດຮາດແວ H264
main-thread-no-omtc = main thread, no OMTC
yes = ແມ່ນ
no = ບໍ່

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = ພົບ
missing = ເສຍໄປ
gpu-description = ຄຳອະທິບາຍ
gpu-vendor-id = ID ຂອງຜູ້ຈຳຫນ່າຍ
gpu-device-id = ID ຂອງອຸປະກອນ
gpu-subsys-id = Subsys ID
gpu-drivers = ໄດຣເວີ
gpu-ram = RAM
gpu-driver-version = ລຸ້ນຂອງໄດຣເວີ
gpu-driver-date = ວັນທີຂອງໄດຣເວີ
gpu-active = ເປີດໃຊ້
webgl1-wsiinfo = WebGL 1 ຂໍ້ມູນ WSI ໄດຣ໌ເວີ
webgl1-renderer = WebGL 1 ຕົວເລນເດີໄດຣ໌ເວີ
webgl1-version = WebGL 1 ໄດຣ໌ເວີເວີຊັນ
webgl1-driver-extensions = WebGL 1 ໄດຣ໌ເວີ Extensions
webgl1-extensions = WebGL 1 Extensions
webgl2-wsiinfo = WebGL 2 ຂໍ້ມູນ WSI ໄດຣ໌ເວີ
webgl2-renderer = WebGL2 Renderer
webgl2-version = WebGL 2 ໄດຣ໌ເວີເວີຊັນ
webgl2-driver-extensions = WebGL 2 ໄດຣ໌ເວີ Extensions
webgl2-extensions = WebGL 2 Extensions
blocklisted-bug = Blocklisted ຍ້ອນວ່າໄດ້ຮັບຮູ້ບັນຫານີ້ແລ້ວ.
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = ບັກ { $bugNumber }
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Blocklisted; ລະຫັດຂໍ້ຜິດພາດ { $failureCode }
d3d11layers-crash-guard = D3D11 Compositor
d3d11video-crash-guard = ຕົວຖອດລະຫັດວິດີໂອ D3D11
d3d9video-crash-buard = ຕົວຖອດລະຫັດວິດີໂອ D3D9
glcontext-crash-guard = OpenGL
reset-on-next-restart = ກັບໄປສູ່ການຕັ້ງຄ່າເດີມໃນການ Restart ຄັ້ງຕໍ່ໄປ
gpu-process-kill-button = ຢຸດໂປຣເຊສ GPU
audio-backend = Audio Backend
min-lib-versions = ລຸ້ນຕຳສຸດທີ່ສາມາດໃຊ້ໄດ້
loaded-lib-versions = ລຸ້ນທີ່ກຳລັງນຳໃຊ້ຢູ່
has-seccomp-bpf = Seccomp-BPF (System Call Filtering)
has-seccomp-tsync = Seccomp Thread Synchronization
has-user-namespaces = User Namespaces
has-privileged-user-namespaces = User Namespaces ສຳລັບຂະບວນການທີ່ໄດ້ຮັບສິດທິພິເສດ
can-sandbox-content = Content Process Sandboxing
can-sandbox-media = Media Plugin Sandboxing
content-sandbox-level = Content Process Sandboxing
sandbox-proc-type-content = ເນື້ອໃນ
sandbox-proc-type-file = ເນື້ອຫາໄຟລ໌
sandbox-proc-type-media-plugin = ປັກອິນມີເດຍ
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = ຖືກເປີດໃຊ້ງານໂດຍຜູ້ໃຊ້
multi-process-status-1 = ຖືກເປີດໃຊ້ງານໂດຍຄ່າພື້ນຖານ
multi-process-status-2 = ຖືກປິດໃຊ້ງານ
multi-process-status-4 = ຖືກປິດໃຊ້ງານໂດຍເຄື່ອງມືການຊ່ວຍເຂົ້າເຖິງ
multi-process-status-6 = ຖືກປິດໃຊ້ງານໂດຍການປ້ອນຄ່າຂໍ້ຄວາມທີ່ບໍ່ໄດ້ຮັບການສະຫນັບສະຫນູນ
multi-process-status-7 = ຖືກປິດໃຊ້ງານໂດຍ Add-ons
multi-process-status-8 = ຖືກປິດໃຊ້ງານໂດຍ Forcibly
multi-process-status-unknown = ບໍ່ຮູ້ສະຖານະ
async-pan-zoom = Asynchronous Pan/Zoom
apz-none = ບໍ່​ມີ​
wheel-enabled = ເປີດການປ້ອນເຂົ້າ wheel ແລ້ວ
touch-enabled = ເປີດການປ້ອນເຂົ້າການແຕະແລ້ວ
drag-enabled = ເປີດໃຊ້ການລາກ scrollbar ແລ້ວ
keyboard-enabled = ຄີບອດເປີດໃຊ້ງານແລ້ວ

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = async wheel ໄດ້ຖືກປິດການປ້ອນເຂົ້າຍ້ອນວ່າມັນບໍ່ໄດ້ຮັບຫານສະຫນັບສະຫນູນການຕັ້ງຄ່າ: { $preferenceKey }
touch-warning = async ການແຕະໄດ້ຖືກປິດການປ້ອນເຂົ້າຍ້ອນວ່າມັນບໍ່ໄດ້ຮັບຫານສະຫນັບສະຫນູນການຕັ້ງຄ່າ: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = ປິດການໃຊ້ງານ
policies-active = ເປີດໃຊ້ງານຢູ່
policies-error = ຂໍ້ຜິດພາດ
