# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

title-label = Rayi'i nej Plugins
installed-plugins-label = Nga nu Plugins
no-plugins-are-installed-label = Nitaj plugins nu
deprecation-description = ¿Nu ruat sa nu ni'ñanj an an? Da'a ni nitaj si ni'ñan a' man. <a data-l10n-name="deprecation-link">Gahuin chrun doj</a>

## The information of plugins
##
## Variables:
##   $pluginLibraries: the plugin library
##   $pluginFullPath: path of the plugin
##   $version: version of the plugin

file-dd = <span data-l10n-name="file">Sa ma sa'a</span> { $pluginLibraries }
path-dd = <span data-l10n-name="path">Hiuj gun'</span> { $pluginFullPath }
version-dd = <span data-l10n-name="version">Versión:</span> { $version }

## These strings describe the state of plugins
##
## Variables:
##   $blockListState: show some special state of the plugin, such as blocked, outdated

state-dd-enabled = <span data-l10n-name="state">State:</span> Ngà 'iaj sunj
state-dd-enabled-block-list-state = <span data-l10n-name="state">State:</span> Ngà 'iaj sunj ({ $blockListState })
state-dd-Disabled = <span data-l10n-name="state">State:</span> Ganikinj
state-dd-Disabled-block-list-state = <span data-l10n-name="state">State:</span> Ganikinj ({ $blockListState })
mime-type-label = Daj hua MIME
description-label = Daj huaj
suffixes-label = Sufijos
