# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### The term "Service Workers" and "Workers" should not be translated

about-service-workers-title = Rayi’î nej sa ni’iāj da’ gā sà’ servicio
about-service-workers-main-title = Nej sí ni’iāj si gā sà’ servicio tàj si yugui
about-service-workers-warning-not-enabled = Nitāj si ‘iaj sun nej sa ni’iāj si gā sà’ servicio
about-service-workers-warning-no-service-workers = Nitāj a’ngō nej sa ni’iāj si gā sà’ servicio tá si yugui.
# The original title of service workers' information
#
# Variables:
#   $originTitle: original title
origin-title = Riña gayi'ì: { $originTitle }
# Show if app id is in isolated browser element, the term "InBrowserElement" should not be translated
#
# Variables:
#   $appId: the application ID
#   $isInIsolatedElement: "true" or "false" based on if the app id is in isolate element
app-title = { -brand-short-name } Aplikasiûn ID { $appId } - InBrowserElement { $isInIsolatedElement }

## These strings are for showing the information of workers.
##
## Variables:
##  $name: the name of scope, active cache, waiting cache and the push end point.
##  $url: the url of script specification and current worker.

scope = <strong>Dàj guchì':</strong> { $name }
script-spec = <strong>Script Spec:</strong> <a data-l10n-name="link">{ $url }</a>
current-worker-url = <strong>Sa 'iaj sun akuan' nïn URL:</strong> <a data-l10n-name="link">{ $url }</a>
active-cache-name = <strong>Si yugui Kachê 'iaj suun:</strong> { $name }
waiting-cache-name = <strong>Si yugui Kachê Ana'uij:</strong> { $name }
push-end-point-waiting = <strong>Push Endpoint:</strong> { waiting }
push-end-point-result = <strong>Push Endpoint:</strong> { $name }
# This term is used as a button label (verb, not noun).
update-button = Nagi'iaj nakà
unregister-button = Guxun' si yugui ma
unregister-error = Gire' sa ruhuât guxunt si rejistrô sa 'iaj sun nan.
waiting = Gana'uij…
