# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = További tudnivalók
accessibility-text-label-header = Szövegcímkék és nevek

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Figyelmeztetés
accessibility-fail =
    .alt = Hiba
accessibility-best-practices =
    .alt = Legjobb gyakorlatok

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Használja az <code>alt</code> attribútumot a <span>href</span> attribútummal rendelkező <div>area</div> elemek címkézéséhez. <a>További tudnivalók</a>
accessibility-text-label-issue-dialog = A párbeszablakokat címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-document-title = A dokumentumoknak tartalmazni kell egy <code>title</code> címkét. <a>További tudnivalók</a>
accessibility-text-label-issue-embed = A beágyazott tartalmat címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-figure = A feltételesen feliratokkal ellátott ábrákat címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-fieldset = A <code>fieldset</code> elemeket címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-fieldset-legend = Használja a <code>legend</code> elemet a <span>fieldset</span> elemek címkézéséhez. <a>További tudnivalók</a>
accessibility-text-label-issue-form = Az űrlapelemeket címkézni kell.  <a>További tudnivalók</a>
accessibility-text-label-issue-form-visible = Az űrlapelemeknek látható szövegcímkével kell rendelkezniük. <a>További tudnivalók</a>
accessibility-text-label-issue-frame = A <code>frame</code> elemeket címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-glyph = Használja az <code>alt</code> attribútumot az <span>mglyph</span> elemek címkézéséhez. <a>További tudnivalók</a>
accessibility-text-label-issue-heading = A címsorokat címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-heading-content = A címsoroknak látható szöveges tartalommal kell rendelkezniük. <a>További tudnivalók</a>
accessibility-text-label-issue-iframe = Használja a <code>title</code> attribútumot az <span>iframe</span> tartalom leírásához. <a>További tudnivalók</a>
accessibility-text-label-issue-image = A képekkel ellátott tartalmat címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-interactive = Az interaktív elemeket címkézni kell. <a>További tudnivalók</a>
accessibility-text-label-issue-optgroup-label = Használja a <code>label</code> attribútumot az <span>optgroup</span> elemek címkézéséhez. <a>További tudnivalók</a>
accessibility-text-label-issue-toolbar = Az eszköztárakat címkézni kell, ha egynél több is van. <a>További tudnivalók</a>
