# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

### These strings are used inside the Accessibility panel.

accessibility-learn-more = Ulteriori informazioni
accessibility-text-label-header = Etichette di testo e nomi

## Text entries that are used as text alternative for icons that depict accessibility isses.
accessibility-warning =
  .alt = Avviso
accessibility-fail =
  .alt = Errore
accessibility-best-practices =
  .alt = Procedure consigliate

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Utilizzare l’attributo <code>alt</code> per assegnare un’etichetta agli elementi <div>area</div> che presentano un attributo <span>href</span>. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-dialog = I dialoghi devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-document-title = I documenti devono avere un <code>title</code>. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-embed = I contenuti inclusi (“embedded”) devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-figure = Figure con didascalie (“caption”) facoltative devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-fieldset = Gli elementi <code>fieldset</code> devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-fieldset-legend = Utilizzare l’elemento <code>legend</code> per assegnare un’etichetta agli elementi <span>fieldset</span>. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-form = Gli elementi di un modulo devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-form-visible = Gli elementi di un modulo devono avere un’etichetta di testo visibile. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-frame = Gli elementi <code>frame</code> devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-glyph = Utilizzare l’attributo <code>alt</code> per assegnare un’etichetta agli elementi <span>mglyph</span>. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-heading = Le intestazioni devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-heading-content = Le intestazioni devono avere un contenuto di testo visibile. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-iframe = Utilizzare l’attributo <code>title</code> per descrivere il contenuto di un <span>iframe</span>. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-image = I contenuti con immagini devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-interactive = Gli elementi interattivi devono avere un’etichetta. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-optgroup-label = Utilizzare l’attributo <code>label</code> per assegnare un’etichetta agli elementi <span>optgroup</span>. <a>Ulteriori informazioni</a>
accessibility-text-label-issue-toolbar = Le barre degli strumenti devono avere un’etichetta quando è presente più di una barra degli strumenti. <a>Ulteriori informazioni</a>
