# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Ci mbiri { -brand-full-name }
update-checkForUpdatesButton =
    .label = Seeti yeesal
    .accesskey = C
update-updateButton =
    .label = Tàmbaliwaatal ngir yeesal { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Wut ay yeesal…
update-downloading = <img data-l10n-name="icon"/>Yebum yeesal bi —<label data-l10n-name="download-status"/>
update-applying = Def yeesal bi…
update-failed = Yeesal bi lajj na.<label data-l10n-name="failed-link">Yeb sumb bi mujj</label>
update-failed-main = Yeesal bi lajj na.<a data-l10n-name="failed-link-main">Yeb sumb bi mujj</a>
update-adminDisabled = Sa saytukatu sistem suuxal na yeesal yi
update-noUpdatesFound = { -brand-short-name } yees na
update-manual = Yeesal yi féex ci<label data-l10n-name="manual-link"/>
channel-description = Yaa ngiy jëfandikoo yoonu yeesal <label data-l10n-name="current-channel"></label> yeesal yoon wi.
warningDesc-version = { -brand-short-name } dafa bees la mën am ay tolof tolof.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> dafa nekk <label data-l10n-name="community-exp-creditsLink">mbootaay bu wër addina</label> di liggéeyandoo ngir internet nekk lu ubbeeku ku nekk mën cee jot.
community-2 = ki defar { -brand-short-name } moodi <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, mbootaay bu wër aduna bu<label data-l10n-name="community-creditsLink">jàppalekat yi</label> di liggéeyandoo ngir Internet nekk lu ubbeeku ku nekk mën cee jot.
bottomLinks-license = Xibaar ci yaatal gi
bottomLinks-rights = Sañ sañi jëfandikookat bi
bottomLinks-privacy = Poltigu dundu biir
