# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

abuse-report-title-extension = Nahlásiť toto rozšírenie spoločnosti { -vendor-short-name }
abuse-report-title-theme = Nahlásiť túto tému vzhľadu spoločnosti { -vendor-short-name }
abuse-report-subtitle = V čom je problém?
# Variables:
#   $author-name (string) - Name of the add-on author
abuse-report-addon-authored-by = autor: <a data-l10n-name="author-name">{ $author-name }</a>
abuse-report-learnmore =
    Neviete, ktorý problém vybrať?
    <a data-l10n-name="learnmore-link">Pozrite sa na ďalšie informácie o nahlasovaní rozšírení a tém vzhľadu</a>
abuse-report-submit-description = Popis problému (voliteľný)
abuse-report-textarea =
    .placeholder = Ak váš problém podrobne popíšete, môžeme ho jednoduchšie vyriešiť. Ďakujeme vám za hlásenie.
abuse-report-submit-note = Poznámka: nezadávajte, prosím, žiadne osobné údaje (meno, e-mailovú adresu, telefónne číslo ani adresu). { -vendor-short-name } si tieto hlásenia trvalo ukladá.

## Panel buttons.

abuse-report-cancel-button = Zrušiť
abuse-report-next-button = Ďalej
abuse-report-goback-button = Naspäť
abuse-report-submit-button = Odoslať

## Message bars descriptions.


## Variables:
##   $addon-name (string) - Name of the add-on

abuse-report-messagebar-aborted = Nahlásenie doplnku <span data-l10n-name="addon-name">{ $addon-name }</span> bolo zrušené.
abuse-report-messagebar-submitting = Odosielanie hlásenia o doplnku <span data-l10n-name="addon-name">{ $addon-name }</span>.
abuse-report-messagebar-submitted = Ďakujeme vám za hlásenie. Chcete doplnok <span data-l10n-name="addon-name">{ $addon-name }</span> odstrániť?
abuse-report-messagebar-submitted-noremove = Ďakujeme vám za hlásenie.
abuse-report-messagebar-removed-extension = Ďakujeme vám za hlásenie. Rozšírenie <span data-l10n-name="addon-name">{ $addon-name }</span> bolo odstránené.
abuse-report-messagebar-removed-theme = Ďakujeme vám za hlásenie. Téma vzhľadu <span data-l10n-name="addon-name">{ $addon-name }</span> bolo odstránené.
abuse-report-messagebar-error = Pri odosielaní hlásenia o doplnku <span data-l10n-name="addon-name">{ $addon-name }</span> nastala chyba.
abuse-report-messagebar-error-recent-submit = Hlásenie o doplnku <span data-l10n-name="addon-name">{ $addon-name }</span> nebolo odoslané, pretože ste ho už nedávno nahlásili.

## Message bars actions.

abuse-report-messagebar-action-remove-extension = Áno, odstrániť
abuse-report-messagebar-action-keep-extension = Nie, ponechať
abuse-report-messagebar-action-remove-theme = Áno, odstrániť
abuse-report-messagebar-action-keep-theme = Nie, ponechať
abuse-report-messagebar-action-retry = Skúsiť znova
abuse-report-messagebar-action-cancel = Zrušiť

## Abuse report reasons (optionally paired with related examples and/or suggestions)

