# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

title-label = Kuan nak Plugins
installed-plugins-label = mtób plugins
no-plugins-are-installed-label = Ná mtob plugins

## The information of plugins
##
## Variables:
##   $pluginLibraries: the plugin library
##   $pluginFullPath: path of the plugin
##   $version: version of the plugin

file-dd = <span data-l10n-name="file">Yêtz:</span> { $pluginLibraries }
path-dd = <span data-l10n-name="path">Net:</span> { $pluginFullPath }
version-dd = <span data-l10n-name="version">Versión:</span> { $version }

## These strings describe the state of plugins
##
## Variables:
##   $blockListState: show some special state of the plugin, such as blocked, outdated

state-dd-enabled = <span data-l10n-name="state">Yéz:</span> Dób kíy
state-dd-enabled-block-list-state = <span data-l10n-name="state">Yéz:</span> Dób kíy ({ $blockListState })
state-dd-Disabled = <span data-l10n-name="state">Yéz:</span> Naa tobb luy
state-dd-Disabled-block-list-state = <span data-l10n-name="state">Yéz:</span> Naa tobb luy ({ $blockListState })
mime-type-label = MIME Type
description-label = Xha nák ah
suffixes-label = Suffixes
