# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Więcej informacji
accessibility-text-label-header = Etykiety tekstowe i nazwy

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Ostrzeżenie
accessibility-fail =
    .alt = Błąd
accessibility-best-practices =
    .alt = Dobre wzory

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Użyj atrybutu <code>alt</code>, aby nadać etykiety elementom <div>area</div>, które mają atrybut <span>href</span>. <a>Więcej informacji</a>
accessibility-text-label-issue-dialog = Okna dialogowe powinny mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-document-title = Dokumenty muszą mieć znacznik <code>title</code>. <a>Więcej informacji</a>
accessibility-text-label-issue-embed = Osadzone treści muszą mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-figure = Rysunki z opcjonalnymi podpisami powinny mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-fieldset = Elementy <code>fieldset</code> muszą mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-fieldset-legend = Użyj elementu <code>legend</code>, aby nadać etykiety elementom <span>fieldset</span>. <a>Więcej informacji</a>
accessibility-text-label-issue-form = Elementy formularzy muszą mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-form-visible = Elementy formularzy powinny mieć widoczne etykiety tekstowe. <a>Więcej informacji</a>
accessibility-text-label-issue-frame = Elementy <code>frame</code> muszą mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-glyph = Użyj atrybutu <code>alt</code>, aby nadać etykiety elementom <span>mglyph</span>. <a>Więcej informacji</a>
accessibility-text-label-issue-heading = Nagłówki muszą mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-heading-content = Nagłówki powinny mieć widoczną treść tekstową. <a>Więcej informacji</a>
accessibility-text-label-issue-iframe = Użyj atrybutu <code>title</code>, aby opisać zawartość <span>iframe</span>. <a>Więcej informacji</a>
accessibility-text-label-issue-image = Treść z obrazami musi mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-interactive = Elementy interaktywne muszą mieć etykiety. <a>Więcej informacji</a>
accessibility-text-label-issue-optgroup-label = Użyj atrybutu <code>label</code>, aby nadać etykiety elementom <span>optgroup</span>. <a>Więcej informacji</a>
accessibility-text-label-issue-toolbar = Paski narzędzi muszą mieć etykiety, jeśli jest więcej niż jeden pasek. <a>Więcej informacji</a>
