# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Rayi’i { -brand-full-name }
releaseNotes-link = Nùhuin sa hua nakàa doj
update-checkForUpdatesButton =
    .label = Nana'uì' sa nahuin nakà doj
    .accesskey = N
update-updateButton =
    .label = Duna'àj ni nachrun ñûnt da' nahuin nàkaj { -brand-shorter-name }
    .accesskey = R
update-checkingForUpdates = Nana’uij sa naka doj…
update-downloading = <img data-l10n-name="icon"/>Hìaj naninj sa nakàa<label data-l10n-name="download-status"/>
update-applying = Hìaj nagi'iaj nakàj sa naduninjt
update-failed = Guire’ sa nagui’iaj naka. <label data-l10n-name="failed-link">Naduninj sa naka doj</label>
update-failed-main = Guire’ sa nagui’iaj naka. <a data-l10n-name="failed-link-main">Naduninj sa naka doj</a>
update-adminDisabled = Su' 'nïnj ra'a aga' sikà' rà na ni duyichin' si daran' sa nahuin nakàa
update-noUpdatesFound = { -brand-short-name } nga ganahuin naka
update-otherInstanceHandlingUpdates = { -brand-short-name } nahui nakà ma 'iaj a'ngo ña achín nì'iô'
update-manual = Gà' hua sa nakà doj riña <label data-l10n-name="manual-link"/>
update-unsupported = Si ga'ue nagi'iaj nakà rè' doj riña aga' na gà' rû' huaj<label data-l10n-name="unsupported-link">Gahuin chrun doj</label>
update-restarting = Nayi'ì ñûn
channel-description = Riñan man sa naka doj huin <label data-l10n-name="current-channel"></label> nan.
warningDesc-version = { -brand-short-name } ma si arajhuè si ngàj ni ga'ue si gi'iaj sun hue'ej
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> 'ngo <label data-l10n-name="community-exp-creditsLink">yi’ni’ niko</label> hiaj sun nugua’an da’ ga’ué gara sun daran nej dugui’ man riki yumin guii.
community-2 = { -brand-short-name } guiri rá...<label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, ngo <label data-l10n-name="community-creditsLink">yi’ni’ niko</label> hiaj sun nugua’an da’ ga’ué gara sun daran nej dugui’ man riki yumin guii.
helpus = ¿ruguñu'unjt ruhuâ raj?<label data-l10n-name="helpus-donateLink">Gà'uì' 'ngo nriû</label>asi<label data-l10n-name="helpus-getInvolvedLink">Gatu siganïnj ïn</label>
bottomLinks-license = Nuguan’ da’ui guini’in
bottomLinks-rights = Si suntuj ne’ araj sun
bottomLinks-privacy = Sa gara yino’
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
