# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Talɣut n usellek
page-subtitle = Asebter-agi igber talɣut tatiknikant i izemren ahat ticki tettaɛraḍeḍ ad tefruḍ ugur. Ma yella tettnadiḍ tiririt ɣef isteqsiyen n { -brand-short-name },senqed <a data-l10n-name="support-link"> asmel-nneɣ Web</a>.
crashes-title = Ineqqisen n uɣelluy
crashes-id = Asulay n ussaɣ
crashes-send-date = Azemz n tuzzna
crashes-all-reports = Akk ineqqisen n uɣelluy
crashes-no-config = Asnas-agi ur ittuswel ara akken ad isken ineqqisen n uɣelluy.
extensions-title = Isiɣzaf
extensions-name = Isem
extensions-enabled = Yettwarmed
extensions-version = Lqem
extensions-id = Asulay
security-software-title = Aseγzan n taγlist
security-software-type = Tawsit
security-software-name = Isem
security-software-antivirus = Amgal ivirusen
security-software-antispyware = Amgal aneḍfer
security-software-firewall = Aɣrab n tmes
features-title = { -brand-short-name } Timahilin
features-name = Isem
features-version = Lqem
features-id = ID
processes-count = Amḍan
app-basics-title = Iɣewwaṛen izaduren n usnas
app-basics-name = Isem
app-basics-version = Lqem
app-basics-build-id = Asulay n usefsu
app-basics-update-channel = Abadu n uleqqem
app-basics-update-history = Amazray n ileqman
app-basics-show-update-history = Sken amazray n ileqman
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Akaram n umaɣnu
       *[other] Akaram n umaɣnu
    }
app-basics-enabled-plugins = Izegrar iremden
app-basics-build-config = Aswel n usefsu
app-basics-user-agent = Ameggi aseqdac
app-basics-os = NGR.MMD
app-basics-memory-use = Aseqdec n tkatut
app-basics-performance = Tamellit
app-basics-service-workers = Tanfa Workers iţwaklesen
app-basics-profiles = Imeɣna
app-basics-launcher-process-status = Akala n tnekra
app-basics-multi-process-support = Isfuyla agetakala
app-basics-process-count = Ikalan n ugbur web
app-basics-enterprise-policies = Tasertit n tkebbanit
app-basics-location-service-key-google = Tasarutt n umeẓlu n wadi Google
app-basics-key-mozilla = Tasarutt n umeẓlu n wadi Mozilla
app-basics-safe-mode = Askar aɣelsan
show-dir-label =
    { PLATFORM() ->
        [macos] Ldi di Finder
        [windows] Ldi akaram
       *[other] Ldi akaram
    }
modified-key-prefs-title = Ismenyifen ixataren ittusniflen
modified-prefs-name = Isem
modified-prefs-value = Azal
user-js-title = Ismenyifen n user.js
user-js-description = Akaram-inek n umaɣni ɣuṛ-s<a data-l10n-name="user-js-link"> afaylu user.js</a> igebren imenyifen ur yerni ara { -brand-short-name }.
locked-key-prefs-title = Ismenyifen ixataren ittusekwren
locked-prefs-name = Isem
locked-prefs-value = Azal
graphics-title = udlifen
graphics-features-title = Timahilin
graphics-diagnostics-title = Tasleṭ
graphics-failure-log-title = Aɣmis n tuccḍiwin
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = Aɣmis n ugemmen
graphics-crash-guards-title = Timhalin ur nermid ara n uɛessas n uɣelluy
graphics-workarounds-title = Tifrat n usellek
place-database-title = Taffa n isefka n idigen
place-database-integrity = Timmad
place-database-verify-integrity = Senqed timmad
js-title = JavaScript
js-incremental-gc = Amḥettit (GC) aseffansan
a11y-title = Tuffart
a11y-activated = Irmed
a11y-force-disabled = Sewḥel tuffart
a11y-handler-used = Accessible Handler ittwaseqdec
a11y-instantiator = Amaraw n tnekcumt
library-version-title = Ileqman n temkarḍiyin
copy-text-to-clipboard-label = Nɣel aḍris ɣeṛ "ɣef affus"
copy-raw-data-to-clipboard-label = Nɣel talɣut tarewwayt ɣeṛ "ɣef affus"
sandbox-title = Sandbox
sandbox-sys-call-log-title = Isawalen n unagraw ttwagin
sandbox-sys-call-index = #
sandbox-sys-call-age = Tisdatin aya
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = Anaw n ukala
sandbox-sys-call-number = Asiwel n unagraw
sandbox-sys-call-args = Tiɣiriyin
safe-mode-title = Ɛreḍ deg uskar aɣelsan
restart-in-safe-mode-label = Ales asenker s izegrar irurmiden…
media-title = Allalen n teγwalt
media-output-devices-title = Ibenkan n tuffɣa
media-input-devices-title = Ibenkan n n unekcum
media-device-name = Isem
media-device-group = Agraw
media-device-vendor = Asaǧǧaw
media-device-state = Addad
media-device-preferred = imsenyafen
media-device-format = Amasal
media-device-channels = Ibuda
media-device-rate = Afmiḍi
media-device-latency = Akud n ugani
intl-title = Asegreɣlen & Asideg
intl-app-title = Iɣewwaṛen n usnas
intl-locales-requested = Tutlayin ittwasutren
intl-locales-available = Tutlayin yellan
intl-locales-supported = Tutlayin n usnas
intl-locales-default = Tutlayt tamezwert
intl-os-title = Anagraw n wammud
intl-os-prefs-system-locales = Tutlayin n unagraw
intl-regional-prefs = Ismenyifen n temnaḍt
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Issaɣen n uɣelluy n { $days } aneggaru
       *[other] issaɣen n uɣelluy n { $days } ineggura
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } n tesdat aya
       *[other] { $minutes } n tesdatin aya
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } n usrag aya
       *[other] { $hours } n isragen aya
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } n wass aya
       *[other] { $days } n wussan aya
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Akk ineqqisen n uɣelluy (ula d { $reports } n uneqqis yettṛaǧun aɣelluy deg uzilal n wakud)
       *[other] Akk ineqqisen n uɣelluy (ula d { $reports } n ineqqisen yettṛaǧun aɣelluy deg uzilal n wakud)
    }
raw-data-copied = Talɣut tarewwayt yettwaneɣlen ɣef afus
text-copied = Aḍris yettwaneɣlen ɣef afus

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Yewḥel ɣef lqem n unuḍaf udlif.
blocked-gfx-card = Yewḥel ɣef lqem n unuḍaf udlif acku kra n wuguren n unuḍaf ur frin ara.
blocked-os-version = Yewḥel ɣef lqem n unagraw-inek n wammud.
blocked-mismatched-version = Yettwasewḥel i unuḍaf n idlifen n lqem ur yelhin ara deg uɣmis neɣ DLL.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Yewḥel ɣef lqem n unuḍaf udlif. Ɛreḍ aleqqem n unuḍaf-inek udlif ɣeṛ leqem { $driverVersion } neɣ ugar.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = Iɣewwaṛen ClearType
compositing = Compositing
hardware-h264 = Akestengel H264 s useqdec n warrum
main-thread-no-omtc = akala afessas agejdan, ulac OMTC
yes = Ih
no = Ala
unknown = Arussin
virtual-monitor-disp = Taskant n ugdil araɣaṛan

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Yettwaf
missing = ulac-it
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = Aglam
gpu-vendor-id = Asulay n umzenzi
gpu-device-id = Asulay n yibenk
gpu-subsys-id = Asulay n adanagraw
gpu-drivers = Inuḍafen
gpu-ram = RAM
gpu-driver-version = Lqem n unuḍaf
gpu-driver-date = Azemz n unuḍaf
gpu-active = Urmid
webgl1-wsiinfo = WebGL 1 Driver WSI Info
webgl1-renderer = WebGL 1 Driver Renderer
webgl1-version = Lqem WebGL 1 Driver
webgl1-driver-extensions = Isiɣzaf WebGL 1 Driver
webgl1-extensions = Isiɣzaf WebGL 1
webgl2-wsiinfo = WebGL 2 Driver WSI Info
webgl2-renderer = WebGL 2 Driver Renderer
webgl2-version = Lqem WebGL 2 Driver
webgl2-driver-extensions = Isiɣzaf WebGL 2 Driver
webgl2-extensions = Isiɣzaf WebGL 2
blocklisted-bug = Yettusewḥel ɣef uguren ur yettwassnen ara
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = Abug { $bugNumber }
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Yettusewḥel; tangalt n tuccḍa { $failureCode }
d3d11layers-crash-guard = Amsuddes D3D11
d3d11video-crash-guard = D3D11 Video Decoder
d3d9video-crash-buard = D3D9 Video Decoder
glcontext-crash-guard = OpenGL
reset-on-next-restart = Ales awennez deg usenker d-itteddun
gpu-process-kill-button = Seḥbes akala GPU
gpu-device-reset = Awennez n ibenk
gpu-device-reset-button = Awennez n ibnek
uses-tiling = Iseqdac akallaj
content-uses-tiling = Seqdec asebleḍ (Agbur)
off-main-thread-paint-enabled = Painting beṛṛa n tnelli n uselkem agejdan yermed
off-main-thread-paint-worker-count = Uṭṭun n iseqdacen Painting beṛṛa n tnelli
low-end-machine = Aff timacinin yesεan tamellit d afeelayt
target-frame-rate = Afmiḍi n n ukatar asaḍas
audio-backend = Ameslaw ɣer deffir
max-audio-channels = Amḍan afellay n ibuda
channel-layout = Taneɣruft n udabu i tebɣiḍ
sample-rate = Afmiḍi n imedyaten i tebɣiḍ
min-lib-versions = Lqem adday itturajun
loaded-lib-versions = Lqem ittuseqdacen
has-seccomp-bpf = Seccomp-BPF (Azizdeg n isawalen n unagraw)
has-seccomp-tsync = Amtawi n tinelli n uselkem Seccomp
has-user-namespaces = Tallunt n yismawen n useqdac
has-privileged-user-namespaces = Tallunt n yesmawen n useqdac i yikalan yezwaren
can-sandbox-content = Amsersu i yikalan n ugbur
can-sandbox-media = Amsersu i yizegrar aget-allalen n telɣut
content-sandbox-level = Aswir n usersu n ukala n ugbur
effective-content-sandbox-level = Aswir n usersu n ukala n ugbur
sandbox-proc-type-content = agbur
sandbox-proc-type-file = agbur n ufaylu
sandbox-proc-type-media-plugin = asiɣzef n wallen n teywalt
launcher-process-status-0 = Irmed
launcher-process-status-1 = Yensa ɣef sebba n tuccḍa
launcher-process-status-2 = Arurmid s tedusi
launcher-process-status-unknown = Addad arussin
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = Iremd-it useqdac
multi-process-status-1 = Yermed s wudem amezwer
multi-process-status-2 = Arurmid
multi-process-status-4 = Yettwakked urmad sɣur ifecka n tuffart
multi-process-status-6 = Arurmid s weḍris anekcam ur iţusefraken ara
multi-process-status-7 = Izegrar kkesn-as armad
multi-process-status-8 = Arurmid s tedusi
multi-process-status-unknown = Addad arussin
async-pan-zoom = Asemɣeṛ/Asemẓi aramtawa
apz-none = ulac
wheel-enabled = anekcum n tjaṛaṛt yermed
touch-enabled = anekcum amennalan irmed
drag-enabled = Adrurem nufeggag yettwarmed
keyboard-enabled = anasiw yermed
autoscroll-enabled = Adrurem awurman yermed

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = anekcum aramtawan ur yermid ara ɣef sebba n usmenyaf ur nettusefrak ara: { $preferenceKey }
touch-warning = anekcum amennalan yensa ɣef sebba  n usmenyaf ur iţusefraken ara: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = Insa
policies-active = Urmid
policies-error = Tuccḍa
