# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

title-label = Ñeel lawal yi
installed-plugins-label = Campéefi lawal
no-plugins-are-installed-label = Giseesu fi genn campéefi lawal
deprecation-description = Dafa am lu fi nekkul? Yenn lawal yi yoratuñleen fi. <a data-l10n-name="deprecation-link">Gën cee xam.</a>

## The information of plugins
##
## Variables:
##   $pluginLibraries: the plugin library
##   $pluginFullPath: path of the plugin
##   $version: version of the plugin

file-dd = <span data-l10n-name="file">Dencukaay:</span> { $pluginLibraries }
path-dd = <span data-l10n-name="path">Yoon:</span> { $pluginFullPath }
version-dd = <span data-l10n-name="version">Sumb:</span> { $version }

## These strings describe the state of plugins
##
## Variables:
##   $blockListState: show some special state of the plugin, such as blocked, outdated

state-dd-enabled = <span data-l10n-name="state">Nekkiin:</span> Doxalees
state-dd-enabled-block-list-state = <span data-l10n-name="state">Nekkiin:</span> Doxalees ({ $blockListState })
state-dd-Disabled = <span data-l10n-name="state">Nekkiin:</span> Doxadilees
state-dd-Disabled-block-list-state = <span data-l10n-name="state">Nekkiin:</span> Doxadilees ({ $blockListState })
mime-type-label = Xeetu MIME
description-label = Faramfàcce
suffixes-label = Toftalaan
