# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Kue nak { -brand-full-name }
releaseNotes-link = Ko kûb
update-checkForUpdatesButton =
    .label = Dee kuan koo kub
    .accesskey = D
update-checkingForUpdates = Dee kuan koo kub…
update-downloading = <img data-l10n-name="icon"/>De lal ko kub — <label data-l10n-name="download-status"/>
update-applying = Dee toob koo kub…
update-failed = Naa blii noo gaan toob no ree koo kub. <label data-l10n-name="failed-link">Blaa koo kub</label>
update-failed-main = Naa blii noo gaan toob no ree koo kub. <a data-l10n-name="failed-link-main">Blaa koo kub</a>
update-adminDisabled = Ree koo kub gaad toob
update-noUpdatesFound = { -brand-short-name } gooc laa
update-otherInstanceHandlingUpdates = { -brand-short-name } the thus kue noo kue
update-manual = Taak laay koo kub lent lo <label data-l10n-name="manual-link"/>
update-unsupported = Naa gadt liiy kuub kue.<label data-l10n-name="unsupported-link">Lab Kue</label>
update-restarting = Bí~rè là kíy...
channel-description = Dee xhin luu kue <label data-l10n-name="current-channel"></label> gui koo kub.{ " " }
warningDesc-version = { -brand-short-name } nara the thus kue noy.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> naak diif <label data-l10n-name="community-exp-creditsLink">loo yehs</label> the ke xhin xha Internet naak par ree taa men.
community-2 = { -brand-short-name } kue thus kue <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, diif <label data-l10n-name="community-creditsLink">Men naa loo xhiu</label> the kee noo xhiin xha Internet taak lii xhin ree taa men.
bottomLinks-license = Cho thus kuey
bottomLinks-rights = Kue naak chan xha ko lee xhin naa
bottomLinks-privacy = laab kue
