# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = વિકાસકર્તા સાધનો વિશે
enable-title = Firefox વિકાસકર્તા સાધનોને સક્ષમ કરો
enable-inspect-element-title = એલિમેન્ટ તપાસ કરવા માટે Firefox ડેવલપર Tools સક્ષમ કરો
enable-inspect-element-message = વિકાસકર્તા સાધનોના નિરીક્ષક સાથે HTML અને CSS ને પરીક્ષણ અને સંપાદિત કરો.
enable-about-debugging-message = Firefox ડેવલપર ટૂલ્સ સાથે WebExtensions, વેબ વર્કર્સ, સર્વિસ વર્કર અને વધુ વિકાસ અને ડીબગ કરો.
enable-key-shortcut-message = તમે વિકાસકર્તા સાધનો શોર્ટકટને સક્રિય કર્યું છે. જો તે ભૂલ હતી, તો તમે આ ટૅબને બંધ કરી શકો છો.
enable-menu-message = ઇન્સ્પેક્ટર અને ડિબગર જેવા સાધનો સાથે તમારી વેબસાઇટનું HTML, CSS, અને JavaScript પૂર્ણ કરો.
enable-common-message = Firefox ડેવલોપર ટૂલ્સ તમારા બ્રાઉઝર પર વધુ નિયંત્રણ આપવા માટે ડિફૉલ્ટ રૂપે અક્ષમ કરેલ છે.
enable-learn-more-link = વિકાસકર્તા સાધનો વિશે વધુ શીખો
enable-enable-button = વિકાસકર્તા સાધનોને સક્ષમ કરો
enable-close-button = આ ટૅબ બંધ કરો
welcome-title = Firefox ડેવલોપર સાધનોમાં આપનું સ્વાગત છે!
newsletter-title = Mozilla વિકાસકર્તા ન્યૂઝલેટર
newsletter-message = તમારા ઇનબૉક્સ પર સીધા જ વિકાસકર્તા સમાચાર, યુક્તિઓ અને સંસાધનો મોકલો.
newsletter-email-placeholder =
    .placeholder = ઇમેઇલ
newsletter-privacy-label = Mozilla સાથે મારી માહિતી સંભાળવાથી હું સમંત છું, આ <a data-l10n-name="privacy-policy">ગોપનીયતા નીતિ</a>માં વર્ણવ્યા પ્રમાણે.
newsletter-subscribe-button = ઉમેદવારી નોંધાવો
newsletter-thanks-title = આભાર!
newsletter-thanks-message = જો તમે અગાઉ કોઈ Mozilla-સંબંધિત ન્યૂઝલેટરમાં ઉમેદવારીની પુષ્ટિ કરી નથી, તો તમારે આમ કરવું પડશે. કૃપા કરીને અમારા તરફથી ઇમેઇલ માટે તમારા ઇનબૉક્સ અથવા તમારા સ્પામ ફિલ્ટરની તપાસ કરો.
footer-title = Firefox વિકાસકર્તા આવૃત્તિ
footer-message = ફક્ત વિકાસકર્તા સાધનો કરતાં વધુ જોઈએ છીએ? Firefox બ્રાઉઝર તપાસો જે ખાસ કરીને વિકાસકર્તાઓ અને આધુનિક કાર્ય પ્રવાહ માટે બનાવવામાં આવેલ છે.
footer-learn-more-link = વધુ શીખો
features-learn-more = વધુ શીખો
features-inspector-title = નિરીક્ષક
features-inspector-desc = પિક્સેલ-સંપૂર્ણ લેઆઉટ બનાવવા માટે કોડનું નિરીક્ષણ કરો અને શુદ્ધ કરો. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = કોન્સોલ
features-console-desc = CSS, JavaScript, સિક્યુરિટી અને નેટવર્કનાં મુદ્દાઓને ટ્રેક કરો. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = ડીબગર
features-debugger-desc = તમારા ફ્રેમવર્ક માટે સપોર્ટ સાથે શક્તિશાળી JavaScript ડિબગર. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = નેટવર્ક
features-network-desc = નેટવર્ક વિનંતીઓનું નિરીક્ષણ કરો જે તમારી સાઇટ ધીમું અથવા અવરોધિત કરી શકે છે. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = સંગ્રહ
features-storage-desc = કૅશ, કૂકીઝ, ડેટાબેસેસ અને સત્ર ડેટા ઉમેરો, સંશોધિત કરો અને દૂર કરો. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = પ્રતિભાવ ડિઝાઇન સ્થિતિ
features-responsive-desc = તમારા બ્રાઉઝરમાં ઇમ્યુલેટેડ ઉપકરણો પર સાઇટ્સ પરીક્ષણ કરો. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = ર્દષ્ટિવિષયક સંપાદન
features-visual-editing-desc = ફાઇન-ટ્યૂન એનિમેશન્સ, સંરેખણ અને પેડિંગ. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = પ્રદર્શન
features-performance-desc = અવરોધોને અનાવરોધિત કરો, પ્રક્રિયાઓને સુવ્યવસ્થિત કરો, અસ્કયામતો અસરકારક કરો. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = મેમરી
features-memory-desc = મેમરી લિક શોધો અને તમારી એપ્લિકેશન જીવંત કરો. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = ઉમેદવારી વિનંતી નિષ્ફળ ({ $errorDescription }).
newsletter-error-unknown = એક અનપેક્ષિત ભૂલ આવી.
newsletter-error-timeout = ઉમેદવારી વિનંતીનો સમય સમાપ્ત થયો.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = તમે વિકાસકર્તા સાધનો સફળતાપૂર્વક સક્ષમ કર્યું છે! પ્રારંભ કરવા માટે, વેબ ડેવલપર મેનૂનું અન્વેષણ કરો અથવા { $shortcut }સાથે સાધનો ખોલો.
